<%= form_for @coldroom do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nombre del cuarto' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :capacity, 'Capacidad del cuarto' %>
    <%= f.text_field :capacity, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit 'Editar Cuarto frio' %>
  </div>
<% end %>
