<h3>Importar Variedades</h3>
<blockquote class="box-placeholder">
   <p>Importar archivo CSV
      <br>EL archivo debe contener las <% "hey" %> columnas:
      <br>name,resistance_to_storage_name,flower_name
   </p>
</blockquote>
<div class="row upload-box">
   <form id="select_button"  enctype="multipart/form-data" action="varieties" accept-charset="UTF-8" method="post">
      <div class="row">
         <div class="col-md-3">
            <input   accept="csv" class="form-control-file upload" id="file" name="file" type="file" />
         </div>
         <div class="col-md-2">
            <button type="submit" class="btn btn-primary start"><i class="fa fa-fw fa-upload"></i>
         </div>
      </div>
   </form>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            Variedades |
           <small></small>
           <%= link_to 'Nueva variedad', new_variety_path %>
         </div>
         <div class="panel-body">
            <table id="datatable1" class="table table-striped table-hover">
               <thead>
                  <tr>
                     <th class="sort-alpha">Nombre</th>
                     <th class="sort-alpha">Color</th>
                     <th class="sort-alpha">Flor</th>
                     <th class="sort-alpha">Resistencia al Guarde</th>
                     <th class="sort-alpha">Participación</th>
                     <th class="sort-alpha">Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  <% @varieties.each do |variety| %>
                     <tr class="gradeX">
                        <td> <%= variety.name %> </td>
                        <td> <%= variety.color_name %> </td>
                        <td> <%= variety.flower_name %> </td>
                        <td> <%= variety.storage_resistance_type_name %> </td>
                        <td> <%= variety.participation %> </td>
                        <td>
                            <%= link_to 'Editar', edit_variety_path(variety) %> |
                            <%= link_to 'Eliminar', variety,  method: :delete, data: { confirm: 'Desea eliminar la variedad?' } %>
                        </td>
                  <% end %>
                     </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
