<%= form_for @variety do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nombre: ' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :participation, 'Participacion: ' %>
    <%= f.text_field :participation, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :color_id, 'Color' %>

    <select class="selectpicker" data-live-search="true" name="variety[color_id]" id="variety_color_id">
      <% Color.all.each do |color|%>
      <option value=<%= color.id.to_s %>>
        <%= color.name %>
      </option>
      <% end %>
    </select>

  </div>
  <div class="form-group">
    <%= f.label :flower_id, 'Flor' %>

    <select class="selectpicker" data-live-search="true" name="variety[flower_id]" id="variety_flower_id">
      <% Flower.all.each do |flower|%>
      <option value=<%= flower.id.to_s %>>
        <%= flower.name %>
      </option>
      <% end %>
    </select>


  </div>
  <div class="form-group">
    <%= f.label :storage_resistance_type_id, 'Resitencia' %>

    <select class="selectpicker" data-live-search="true" name="variety[storage_resistance_type_id]" id="variety_storage_resistance_type_id">
      <% StorageResistanceType.all.each do |resistance|%>
      <option value=<%= resistance.id.to_s %>>
        <%= resistance.name %>
      </option>
      <% end %>
    </select>

  </div>
  <div>
    <%= f.submit 'Crear Variedad' %>
  </div>
<% end %>

