<%= form_for @demand do |f| %>
<div class="form-group">
  <%= f.label :quantity, 'Cantidad: ' %>
  <%= f.text_field :quantity, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :color_id, 'Color: ' %>
    <select class="selectpicker" data-live-search="true" name="demand[color_id]" id="demand_color_id">
    <% Color.all.each do |color|%>
    <option value=<%= color.id.to_s %>>
      <%= color.name %>
    </option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <%= f.label :market_id, 'Mercado: ' %>
  <select class="selectpicker" data-live-search="true" name="demand[market_id]" id="demand_market_id">
    <% @company.markets.each do |market|%>
    <option value=<%= market.id.to_s %>>
      <%= market.name %>
    </option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <%= f.label :flower_id, 'Flor: ' %>
    <select class="selectpicker" data-live-search="true" name="demand[flower_id]" id="demand_flower_id">
    <% Flower.all.each do |flower|%>
    <option value=<%= flower.id.to_s %>>
      <%= flower.name %>
    </option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <%= f.label :week_id, 'Semana: ' %>
  <select class="selectpicker" data-live-search="true" name="demand[week_id]" id="demand_variety_id">
    <% Week.all.each do |week|%>
    <option value=<%= week.id.to_s %>>
      <%= week.initial_day %>
    </option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <%= f.label :origin, 'Origen: ' %>
  <%= f.text_field :origin, class: 'form-control' %>
</div>


<div>
  <%= f.submit 'Editar Demanda' %>
</div>
<% end %>
