<ul class="nav nav-tabs">
  <li role="presentation" class=<%= active == 'Estado' ? "active":"" %>>
    <%= link_to 'Estado', farm_main_reports_path(params[:farm_id]) %>
  </li>
  <li role="presentation" class=<%= active == 'Siembra' ? "active":"" %>>
    <%= link_to 'Siembra', farm_sowing_graphs_path(params[:farm_id]) %>
  </li>
  <li role="presentation" class=<%= active == 'Produccion' ? "active":"" %>>
    <%= link_to 'Produccion', farm_productions_path(params[:farm_id]) %>
  </li>
  <li role="presentation" class=<%= active == 'Uso' ? "active":"" %>>
    <%= link_to 'Uso', "" %>
  </li>
</ul>

<br>
<br>
