<%= include_gon %>

<%= render partial: "main_reports/main_reports_header", locals: { active: "Siembra"} %>
<br>
<br>

<form action="<%= farm_main_resports_sowing_path(params[:farm_id]) %>" method="get" id="index_form" class="form-inline">
  <select class="selectpicker" data-live-search="true" id="variety_id" name="variety_id" type="variety_id">

    <option value=<%= nil %>>
      Todos
    </option>
    <% Variety.all.each do |variety|%>
    <option value=<%= variety.id.to_s %>
      <%= if variety.id.to_s == @selected_variety; selected="selected" end %>>
      <%= variety.name %>
    </option>
    <% end %>
  </select>

  <br>
  <br>
  <input type="submit" class='btn btn-primary'>
</form>

<div class="container-fluid">
  <div class="row mb-lg ">
    <div class="sowing-graph-col">
      <div>
        <canvas class = "sowing-graph" id="chartjs-linechart-sowing"></canvas>
      </div>
    </div>
  </div>
</div>
