<%= form_for @submarket_week do |f| %>
  <div class="form-group">
    <%= f.label :submarket_id, 'SubMercado' %>
    <%= f.collection_select(:submarket_id, @company.submarkets, :id, :name) %>

    <select class="selectpicker" data-live-search="true" name="submarket_week[submarket_id]" id="submarket_week_submarket_id">
      <% @company.submarkets.each do |submarket|%>
      <option value=<%= submarket.id.to_s %>>
        <%= submarket.name %>
      </option>
      <% end %>
    </select>

  </div>

  <div class="form-group">
    <%= f.label :week_id, 'Semana' %>
    <%= f.collection_select(:week_id, Week.all, :id, :initial_day) %>

    <select class="selectpicker" data-live-search="true" name="submarket_week[week_id]" id="submarket_week_week_id">
      <% Week.all.each do |week|%>
        <option value=<%= week.id.to_s %>>
          <%= week.initial_day %>
        </option>
      <% end %>
    </select>

  </div>

  <div>
    <%= f.submit 'Crear Submercado' %>
  </div>
<% end %>
