<%= form_for @block_production do |f| %>
  <div class="form-group">
    <%= f.label :week_id, 'Semana' %>
    <%= f.collection_select(:week_id, Week.all, :id, :initial_day) %>
  </div>
  <div class="form-group">
    <%= f.label :variety_id, 'Variedad: ' %>
    <%= f.collection_select(:variety_id, Variety.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label :block_id, 'Bloque: ' %>
    <%= f.collection_select(:block_id, @farm.blocks, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label :quantity, 'Cantidad' %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :status, 'Estado' %>
    <%= f.text_field :status, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit 'Crear produccion por Bloque' %>
  </div>
<% end %>
