<div class="row">
   <div class="col-lg-6">
      <div class="panel panel-default">
         <div class="panel-heading">Importar curvas de produción</div>
         <div class="panel-body">
            <blockquote class="box-placeholder">
               <p>Importar archivo CSV
                  <br>EL archivo debe contener las <% "hey" %> columnas:
                  <br>variety_name,farm_name,week_number,production,cost,cut
               </p>
            </blockquote>
            <div class="row upload-box">
               <form id="select_button"  enctype="multipart/form-data" action="import_productivity_curves" accept-charset="UTF-8" method="post">
                  <div class="row">
                     <div class="col-md-6">
                        <input   accept="csv" class="form-control-file upload" id="file" name="file" type="file" />
                     </div>
                     <div class="col-md-2">
                        <button type="submit" class="btn btn-primary start"><i class="fa fa-fw fa-upload"></i>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-6">
      <div class="panel panel-default">
         <div class="panel-heading">Borrar curvas de produción</div>
         <div class="panel-body">
            <form action= <%= farm_productivity_curves_path(farm_id: params[:farm_id]) %> enctype="multipart/form-data"  accept-charset="UTF-8" method="post" class="form-horizontal">
               <input type="hidden" name="_method" value="delete" />
               <div class="form-group">
                  <label class="col-sm-2 control-label">Variedad:  </label>
                  <div class="col-md-6">
                     <select name="variety_id" class="form-control m-b">
                        <option value="all">BORRAR TODAS</option>
                        <%= @varieties.each do |variety| %>
                        <option value="<%= variety.id %>"><%= variety.name %></option>
                        <% end %>
                     </select>
                  </div>
               </div>
               <button type="submit" class="btn btn-primary start"><i> Borrar curvas de produción</i>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            Curvas de Produción |
            <small></small>
           <%= link_to 'Nuevo registro', new_farm_productivity_curve_path %>
         </div>
         <div class="panel-body">
            <table id="datatable1" class="table table-striped table-hover">
               <thead>
                  <tr>
                     <th class="sort-alpha">Finca</th>
                     <th class="sort-alpha">Variedad</th>
                     <th class="sort-alpha">Numero de Semana</th>
                     <th class="sort-alpha">Produción</th>
                     <th class="sort-alpha">Costo</th>
                     <th class="sort-alpha">Corte</th>
                     <th class="sort-alpha">Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  <% @productivity_curves.each do |productivity| %>
                  <tr class="gradeX">
                     <td> <%= productivity.farm_name %> </td>
                     <td> <%= productivity.variety_name %> </td>
                     <td> <%= productivity.week_number %> </td>
                     <td> <%= productivity.production %> </td>
                     <td> <%= productivity.cost %> </td>
                     <td> <%= productivity.cut %></td>
                     <td>
                        <%= link_to 'Editar', edit_productivity_curve_path(productivity) %>
                     </td>
                  </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
