<%= form_for @submarket do |f| %>
<div class="form-group">
  <%= f.label :code, 'Codigo: ' %>
  <%= f.text_field :code, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :name, 'Nombre: ' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :market_id, 'Mercado' %>
  <%= f.collection_select(:market_id, @company.markets, :id, :name) %>
</div>
<div>
  <%= f.submit 'Crear Submercado' %>
</div>
<% end %>

