<%= form_for @cutting do |f| %>
  <div class="form-group">
    <%= f.label :variety_id, 'Variedad' %>
    <select class="selectpicker" data-live-search="true" name="cutting[variety_id]" id="cutting_variety_id">
      <% Variety.all.each do |variety|%>
      <option value=<%= variety.id.to_s %>>
        <%= variety.name %>
      </option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :week_id, 'Semana' %>
    <select class="selectpicker" data-live-search="true" name="cutting[week_id]" id="cutting_variety_id">
      <% Week.all.each do |week|%>
      <option value=<%= week.id.to_s %>>
        <%= week.initial_day %>
      </option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
      <%= f.label :cutting_week, 'Semana de corte' %>
      <%= f.text_field :cutting_week, class: 'form-control' %>
    </div>
  <div class="form-group">
    <%= f.label :quantity, 'Cantidad' %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :origin, 'Origen' %>
    <%= f.text_field :origin, class: 'form-control' %>
  </div>
<div>
  <%= f.submit 'Editar esqueje' %>
</div>
<% end %>
