<%= form_for @cutting do |f| %>
<div class="form-group">
    <%= f.label :variety_id, 'Variedad' %>
    <%= f.collection_select(:variety_id, Variety.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label :week_id, 'Semana' %>
    <%= f.collection_select(:week_id, Week.all, :id, :initial_day) %>
  </div>
  <div class="form-group">
      <%= f.label :cutting_week, 'Semana de corte' %>
      <%= f.text_field :cutting_week, class: 'form-control' %>
    </div>
  <div class="form-group">
    <%= f.label :quantity, 'Cantidad' %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :origin, 'Origen' %>
    <%= f.text_field :origin, class: 'form-control' %>
  </div>
<div>
  <%= f.submit 'Editar esqueje' %>
</div>
<% end %>
