<%= form_for @sowing_detail do |f| %>
  <div class="form-group">
    <%= f.label :variety_id, 'Variedad: ' %>
    <select class="selectpicker" data-live-search="true" name="sowing_detail[variety_id]" id="sowing_detail_variety_id">
      <% Variety.all.each do |variety|%>
      <option value=<%= variety.id.to_s %>>
        <%= variety.name %>
      </option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :bed_id, 'Cama: ' %>
    <select class="selectpicker" data-live-search="true" name="sowing_detail[bed_id]" id="sowing_detail_bed_id">
      <% @farm.beds.includes(:block).each do |bed|%>
      <option value=<%= bed.id.to_s %>>
        <%= bed.number.to_s + " - " + bed.block.name %>
      </option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :week_id, 'Semana: ' %>
    <select class="selectpicker" data-live-search="true" name="sowing_detail[week_id]" id="sowing_detail_week_id">
      <% Week.all.each do |week|%>
      <option value=<%= week.id.to_s %>>
        <%= week.initial_day %>
      </option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :quantity, 'Cantidad' %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cutting_week, 'Semana de corte' %>
    <%= f.text_field :cutting_week, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :origin, 'Origen' %>
    <%= f.text_field :origin, class: 'form-control'%>
  </div>
  <br>
  <div>
    <%= f.submit 'Crear detalle de siembra' %>
  </div>
<% end %>
