<%= form_for @bed do |f| %>
<div class="form-group">
  <%= f.label :number, 'Numero de cama' %>
  <%= f.text_field :number, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :total_area, 'Area total' %>
  <%= f.text_field :total_area, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :usable_area, 'Area usable' %>
  <%= f.text_field :usable_area, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :usable_area, 'Tipo de cama' %>
  <%= f.collection_select(:bed_type_id, BedType.all, :id, :name) %>
</div>
<%= hidden_field_tag(:block_id, params[:block_id]) %>
<div>
  <%= f.submit 'Crear cama' %>
</div>
<% end %>
