<%= form_for @bed do |f| %>
<div class="form-group">
  <%= f.label :number, 'Numero de cama' %>
  <%= f.text_field :number, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :total_area, 'Area total' %>
  <%= f.text_field :total_area, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :usable_area, 'Area usable' %>
  <%= f.text_field :usable_area, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :bed_type_id, 'Tipo de cama' %>

  <select class="selectpicker" data-live-search="true" id="bed__bed_type_id" name="bed[bed_type_id]">
    <% BedType.all.each do |bed_type|%>
    <option value=<%= bed_type.id.to_s %>>
      <%= bed_type.name %>
    </option>
    <% end %>
  </select>

</div>
<%= hidden_field_tag(:block_id, params[:block_id]) %>
<div>
  <%= f.submit 'Crear cama' %>
</div>
<% end %>
