<!-- START Sidebar (left)-->
<div class="aside-inner">
  <nav class="sidebar" data-sidebar-anyclick-close="">
    <!-- START sidebar nav-->
    <ul class="nav">
      <!-- Iterates over all sidebar items-->
      <li class="<%= 'active' if controller?('main_reports') && action?('index') %>">
        <a href= "/main_reports" title="IDF">
          <em class="icon-graph"></em>
          <span>Inicio</span>
        </a>
      </li>
      <li class="nav-heading">
        <span>Análisis</span>
      </li>

      <li class="<%= 'active' if controller?('') && action?('') %>">
        <a href= "" title="IDF">
          <em class="fa fa-bar-chart-o "></em>
          <span>MENU</span>
        </a>
      </li>

      <li class="<%= 'active' if controller?('') && action?('') %>">
        <a href="" title="Presupuesto">
          <em class="fa fa-area-chart"></em>
          <span>MENU2</span>
        </a>
      </li>

      <li class="<%= 'active' if controller?('') && action?('') %>">
        <a href= "" title="Widgets">
          <em class="fa fa-bus"></em>
          <span >MENU3</span>
        </a>
      </li>


      <li class="<%= 'active' if controller?('') %>">
        <a href="#products" title="Productos" data-toggle="collapse">
          <em class="fa fa-tree"></em>
          <span>Productos</span>
        </a>
        <ul id="products" class="nav sidebar-subnav collapse">
          <li class="<%= 'active' if controller?('flowers') && action?('index') %>">
            <a href= "flowers" title="Listado">
              <span>Flores</span>
            </a>
          </li>
          <li class="<%= 'active' if controller?('varieties') && action?('index') %>">
            <a href="varieties" title="Variedades">
              <span>Variedades</span>
            </a>
          </li>
          <li class="<%= 'active' if controller?('colors') && action?('index') %>">
            <a href="colors" title="Colores">
              <span>Colores</span>
            </a>
          </li>
          <li class="<%= 'active' if controller?('productivity_curves') && action?('index') %>">
            <a href="productivity_curves" title="Curvas de Variedad">
              <span>Curvas de Variedad</span>
            </a>
          </li>
          <li class="<%= 'active' if controller?('block_color_flowers') && action?('index') %>">
            <a href="block_color_flowers" title="Uso de Bloques">
              <span>Uso de Bloques</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="<%= 'active' if controller?('') && action?('') %>">
        <a href="" title="Asig. Operadores<">
          <em class="icon-directions"> </em>
          <span >MENUX</span>
        </a>
      </li>
    </ul>
    <!-- END sidebar nav-->
  </nav>
</div>
<!-- END Sidebar (left)-->
