<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <img src="<%= image_path('angle/melius2.png') %>" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="<%= image_path('angle/melius_single.png') %>" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav">
         <li style = 'height: 100%;''>
            <div class="idf_group_btn">
               <div class="btn-group">
                  <select id="farm_id" name="intervention_id" class="form-control" onchange="changeFarm()">
                     <% Company.find(2).farms.each do |farm| %>
                     <option type= "submit" value=<%= farm.id %>
                        <%= if (farm.id == session[:farm_id])
                           selected="selected"
                           end%>>
                           <%= farm.name %>
                        </option>
                        <% end %>
                  </select>
               </div>
            </div>
         </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
         <li class="visible-lg">
            <a href="#" data-toggle-fullscreen="" data-no-persist="true">
               <em class="fa fa-expand"></em>
            </a>
         </li>
         <li>
            <a href="/logout" data-toggle-state="offsidebar-open" data-no-persist="true">
               <em class="icon-logout"></em>
            </a>
         </li>
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->

<!-- Script action to detect the idf_group selected -->
 <script type="text/javascript">
   document.getElementById('farm_id').value = <%= session[:farm_id] %>
 </script>
 <!-- Script action to change idf group -->
 <script type="text/javascript">
   function changeFarm() {
     var farm_id = document.getElementById("farm_id").value;

     $.ajax({
       type: "POST",
       dataType: "json",
       data: 'farm_id=' + farm_id,
       url: "/sessions_controller/change_farm",
       success: function(data){
         window.location = data.url
       }
     });
   }
 </script>
